<span>
    <xn-input-form name="name"
                ngModel
                xnDateFormatValidator
                [validateOnChangeAndBlur]="validateOnChangeAndBlur"
                [ngModel]="_value"
                (ngModelChange)="onValueChange($event)"
                [showLabel]="showLabel"
                [validatable]="validatable"
                [label]="label"
                (touchedChange)="onTouchedChange($event)"
                (iconClick)="onIconClick()"
                (blur)="onBlur()"
                [outerErrors]="ngControl?.errors"
                [class.small]="small"
                [class.transparent]="transparent"
                [placeholder]="placeholder"
                [iconAfterClass]="iconAfterClass"
                [validateOnBlur]="validateOnBlur"
                [class.noborder]="noborder"
                [class.nomargin]="nomargin"
                [iconClass]="'fa-calendar'">
    </xn-input-form>
    <calendar *ngIf="calendarOpen"
            [selectedDate]="model"
            (dateChanged)="onCalendarDateChange($event)"></calendar>
</span>
