@import "variables";
@import "mixins";

$xn-menu-header-padding: $xn-menu-header-padding-top $xn-menu-header-padding-right $xn-menu-header-padding-bottom
    $xn-menu-header-padding-left;
$xn-menu-header-padding-s: $xn-menu-header-padding-top ($xn-menu-header-padding-right - 10)
    $xn-menu-header-padding-bottom ($xn-menu-header-padding-left - 10);
$xn-menu-header-margin: $xn-menu-header-margin-top $xn-menu-header-margin-right $xn-menu-header-margin-bottom
    $xn-menu-header-margin-left;
$xn-menu-header-nav-padding: $xn-menu-header-nav-padding-top $xn-menu-header-nav-padding-right
    $xn-menu-header-nav-padding-bottom $xn-menu-header-nav-padding-left;
$menu-list-padding: $menu-list-padding-top $menu-list-padding-right $menu-list-padding-bottom $menu-list-padding-left;
$menu-list-margin: $menu-list-margin-top $menu-list-margin-right $menu-list-margin-bottom $menu-list-margin-left;
$menu-brand-bar-margin: $menu-brand-bar-margin-top $menu-brand-bar-margin-right $menu-brand-bar-margin-bottom
    $menu-brand-bar-margin-left;

:host {
    position: fixed;
    width: $xn-menu-header-width;
    top: $xn-menu-header-top;
    bottom: $xn-menu-header-bottom;
    left: $xn-menu-header-left;
    right: $xn-menu-header-right;
    z-index: 1000;
    background-color: $xn-menu-header-background-color;
    padding: $xn-menu-header-padding;
    margin: $xn-menu-header-margin;
    transform: $xn-menu-header-transform;
    @include shadow($xn-menu-header-shadow);

    @media (max-width: $breakpoint-m - 1) {
        padding: $xn-menu-header-padding-s;
    }

    .header {
        height: $xn-menu-header-height;

        @media (max-width: $breakpoint-m - 1) {
            height: $xn-menu-header-height-responsive;
        }
    }

    .nav {
        display: $xn-menu-header-nav-layout;
        flex-direction: $xn-menu-header-nav-flex-direction;
        flex-wrap: $xn-menu-header-nav-flex-wrap;
        width: $xn-menu-header-nav-width;
        justify-content: center;
        height: 100%;
        padding: $xn-menu-header-nav-padding;
        position: relative;

        .brand-bar {
            height: $brand-bar-height;
            margin: $menu-brand-bar-margin;
            float: $menu-brand-bar-float;
        }

        .brand-name {
            float: left;
            font-family: $brand-name-font;
            margin-top: -2px;
            font-weight: $xn-menu-header-brand-weight;
            color: $xn-menu-header-brand-color;
        }

        ul {
            position: $menu-list-position;
            float: $menu-list-float;
            bottom: 0;
            margin: $menu-list-margin;
            padding: $menu-list-padding;
        }
    }

    .sub-menu {
        display: none;
        transition: all 100ms;
    }

    .sub-menu.open {
        display: block;
    }
}

:host::ng-deep {
    .nav {
        ul.main-menu {
            > li {
                float: left;
                list-style: none;
                margin-right: $menu-item-margin;
                cursor: pointer;
                a {
                    font-weight: $menu-item-weight;
                    @include font-size($base-h4-font-size);
                    color: $menu-item-color;
                    text-decoration: $menu-item-text-decoration;

                    &:hover {
                        color: $menu-item-hover-color;
                        text-decoration: $menu-item-hover-text-decoration;
                    }

                    &.active {
                        color: $menu-item-active-color;
                        text-decoration: $menu-item-active-text-decoration;
                    }
                }
            }

            > li:last-of-type {
                margin-right: 0px;
            }
        }
    }
}
