<xn-input-form [label]="label"
               [showLabel]="showLabel"
               ngModel
               [placeholder]="placeholder"
               [name]="name"
               [validatable]="validatable"
               [required]="required"
               [autofocus]="autofocus"
               [outerErrors]="ngControl.errors"
               (blur)="onBlur()"
               (iconClick)="onIconClick()"
               (iconAfterClick)="onIconAfterClick()"
               [class.small]="small"
                [class.transparent]="transparent"
               [validateOnChangeAndBlur]="validateOnChangeAndBlur"
               [(ngModel)]="internalModel"
               [class.noborder]="noborder"
               [class.nomargin]="nomargin"
               [iconAfterClass]="iconAfterClass"
               [touched]="ngControl?.touched"
               (keydown)="onKeyDown($event)"
               [outerErrors]="ngControl?.errors"></xn-input-form>
