@import 'variables';
@import 'mixins';

:host {
    text-align: right;
    display: block;
}

:host.centered {
    text-align: center;
}

:host.left {
    text-align: left;
}

.pagination {
    display: inline-block;
}

.page {
    display: block;
    font-size: $pagination-buttons-font-size;
    line-height: 1.1rem;
    text-align: center;
    width: auto;
    height: 45px;
    cursor: pointer;
    @include disable-user-select();
    i {
        font-size: $pagination-buttons-font-size;
        color: $light-gray;
    }
}

.outer-page {
    i:last-child {
        margin-left: -8px;
    }
}

.count-text {
    line-height: 1.2rem;
    color: $light-gray;
    font-size: $pagination-count-text-font-size;
}

.pagedot.selected {
    background-color: $brand-teritiary;
}
