@import 'variables';
@import 'mixins';

:host {
    position:                                       absolute;
    background:                                     $calendar-background-color;
    z-index:                                        2005;
    margin-top:                                     -25px;
    border-bottom:                                  $calendar-border-bottom;
    border-top:                                     $calendar-border-top;
    border-right:                                   $calendar-border-right;
    border-left:                                    $calendar-border-left;
    width:                                          296px;
    @include shadow($calendar-shadow);
}

.bar {
    padding:                                    5px 5px;
    text-align:                                 center;
}

.calendar-header {
    padding:                                    5px 12px;
    margin-bottom:                              3px;
    border-bottom: 1px solid #b9b6b6;

    .button:first-child {
        margin-right:                           10px;
    }
}

.week {
    display:                                    table-row;

    .day {
        float:                                  left;
        display:                                block;
        padding:                                12px 14px;
        font-size:                              1rem;
        line-height:                            1.2rem;
        cursor:                                 pointer;
        width:                                  42px;
    }
    .day.today {
        background-color:                       $calendar-day-today-background-color;
    }
    .day.selected {
        background-color:                       $calendar-day-selected-background-color
    }
    .day:hover {
        background-color:                       $calendar-day-hover-background-color;
        color:                                  $calendar-day-hover-color;
    }
}

.week-header {
    border-bottom:                              1px solid $brand-primary;
    font-weight:                                normal;
    .day {
        cursor:                                 default;
    }
    .day:hover {
        background-color:                       initial;
        color:                                  initial;
    }
    .day:last-child {
        padding-right:                          10px;
    }
}

.week.first-week {
    text-align:                                 right;

    .day {
        float:                                  none;
        display:                                inline-block;
    }
}

.dayview {
    display:                                    none;
    margin-top:                                 5px;
}

.dayview.active {
    display:                                    block;
}

.monthview {
    display:                                    none;
    margin:                                     20px 0;

    .month {
        text-align:                             center;
        float:                                  left;
        display:                                block;
        padding:                                15px 0px;
        font-size:                              1rem;
        line-height:                            1.2rem;
        cursor:                                 pointer;
        width:                                  98px;
    }
    .month:hover {
        background-color:                       $calendar-month-hover-background-color;
        color:                                  $calendar-month-hover-color
    }
}

.monthview.active {
    display:                                    block;
}

.yearview {
    display:                                    none;
    margin:                                     20px 0;

    .year {
        text-align:                             center;
        float:                                  left;
        display:                                block;
        padding:                                15px 12px;
        font-size:                              1rem;
        line-height:                            1.2rem;
        cursor:                                 pointer;
        width:                                  98px;
    }
    .year:hover {
        background-color:                       $calendar-year-hover-background-color;
        color:                                  $calendar-year-hover-color
    }
}

.yearview.active {
    display:                                    block;
}
