@import 'variables';
@import 'mixins';

.left-menu {
    max-width: 300px;
    min-width: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

xn-menu-header::ng-deep {
    .main-menu {
        left: 10px;
        top: 8px;
    }
}
