blogsearch-popup {
    popup-button {
        top:                                                120px;
        right:                                              50px;
        width:                                              75px;
        height:                                             75px;

         @media (max-width: $breakpoint-m - 1) {
            right:                                          -10px;
            top:                                            80px;
            width:                                          60px;
            height:                                         60px;
         }
    }

    popup-button:hover, popup-button.open {
        @media (max-width: $breakpoint-m - 1) {
            right:                                          10px;
            top:                                            80px;
        }
    }
}