@import 'variables';
@import 'mixins';

$blockquote-sign-margin:                                    $blockquote-sign-margin-top $blockquote-sign-margin-right $blockquote-sign-margin-bottom $blockquote-sign-margin-left;
$blockquote-sign-padding:                                   $blockquote-sign-padding-top $blockquote-sign-padding-right $blockquote-sign-padding-bottom $blockquote-sign-padding-left;

blockquote {
    p {
        @include font-size($base-font-size);
        @include line-height($base-line-height);
        margin-bottom:                                      2px;
    }

    cite {
        text-align:                                         right;
        display:                                            block;
    }
    cite:before {
        content:                                            '-- ';
    }
}

blockquote:before {
    display:                                                block;
    float:                                                  left;
    font-family:                                            $blockquote-sign-font;
    font-size:                                              $blockquote-sign-font-size;
    margin:                                                 $blockquote-sign-margin;
    content:                                                $blockquote-sign-content;
    padding:                                                $blockquote-sign-padding;
    width:                                                  $blockquote-sign-width;
    height:                                                 $blockquote-sign-height;
    line-height:                                            $blockquote-sign-line-height;
    color:                                                  $blockquote-sign-color;
    background-color:                                       $blockquote-sign-background-color;
}
