$xn-add-comment-padding:                                        $xn-add-comment-padding-top $xn-add-comment-padding-right $xn-add-comment-padding-bottom $xn-add-comment-padding-left;

xn-comment-box {
    display:                                                    block;
    width:                                                      100%;
    height:                                                     auto;

    > xn-comment-editor {
        background-color:                                     #fff;
        display:                                                block;

        input-form {
            margin-bottom:                                      -10px;
        }
    }

    xn-comment {
        display:                                                block;

        .comment-editor {
            border-bottom:                                      $xn-comment-editor-border-bottom;
        }

        .comment-text {
            margin:                                             0;
            margin-bottom:                                      -2px;
        }

        .comment-editor {
            font-weight:                                        $xn-comment-editor-title-font-weight;
            display:                                            inline-block;
        }

        .comment-self > .meta-box {
            cursor:                                             pointer;
        }

        .comment-self > .meta-box > i {
            display:                                            none;
        }

        .comment-self:hover > .meta-box > i {
            display:                                            inline-block;
        }

        xn-comment {
            padding-left:                                       $xn-comment-child-padding-left;
            padding-top:                                        $xn-comment-child-padding-top;
        }

        > xn-comment-editor {
            @include shadow($xn-add-comment-shadow);

            position: absolute;
            background-color:                                   $xn-add-comment-background-color;
            width:                                              $xn-add-comment-width;
            padding:                                            $xn-add-comment-padding;
            margin-top:                                         -10px;
            
            > input-form {
                margin-bottom:                                  -10px;
            }

            > span {
                display:                                        block;
                text-align:                                     right;
                line-height:                                    1rem; 
                margin-bottom:                                  -15px;

                > i {
                    cursor:                                     pointer;
                }
            }
        }
    }

    > span > xn-comment {
        padding-left:                                           15px;
        border-left:                                            3px solid $brand-teritiary; 
        margin-bottom:                                          30px;
    }

    @media (max-width: $breakpoint-m - 1) {
        width:                                                  100%;

        comment > xn-comment-editor {
            left:                                               20px;
            width:                                              calc(100% - 30px);
        }
    }

    @media (min-width: $breakpoint-m) {
        width:                                                  85%;
    }

    @media (min-width: $breakpoint-l) {
        width:                                                  70%;
    }
}