$dialog-padding:                                        $dialog-padding-top $dialog-padding-right $dialog-padding-bottom $dialog-padding-left;

xn-dialog {

    position:                                           absolute;
    width:                                              100%;
    height:                                             100%;
    border:                                             0;
    background:                                         transparent;
    top:                                                0;
    left:                                               0;
    display:                                            none;
    z-index:                                            2000;

    .close-button {
        cursor:                                         pointer;
        margin-right:                                   5px;
        margin-bottom:                                  10px;
    }

    xn-block-ui {

        .dialog {

            @include shadow($dialog-shadow);
            background-color:                           $dialog-background;
            border-left:                                $dialog-border-left;
            border-right:                               $dialog-border-right;
            border-top:                                 $dialog-border-top;
            border-bottom:                              $dialog-border-bottom;
            max-height: 90vh;
            cursor:                                     initial;
            padding:                                    $dialog-padding;
            min-width:                                  300px;

            .dialog-header {
                border-bottom:                          $dialog-header-border-bottom;
                margin-bottom:                          $dialog-header-margin-bottom;
            }

            .dialog-footer {
                border-top:                             $dialog-footer-border-top;
                padding-top:                            $dialog-footer-padding-top
            }

            .dialog-content {
                overflow-y: auto;
            }

            .dialog-body {
                display: block;
                overflow: auto;
            }

            @media (max-width: $breakpoint-m) {
                max-height: 100vh;
            }
        }
    }

    &.open {
        display:                                        block;
    }
}
