<h1 class="text-center">ng web-components</h1>
<div class="row">
    <div class="col col-12">
        <xn-html-content path="start.html"></xn-html-content>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <xn-html-content path="usage.html"></xn-html-content>
    </div>
</div>
<xn-section-divider class="mb-2 block" [lineOnly]="true"></xn-section-divider>
<h2>Komponenten</h2>
<ng-container  *ngFor="let navigationGroup of navigationGroups; let i=index">
    <ng-container *ngIf="(i + 1) % 2 === 1">
        <div class="row mb-1">
            <div class="col col-12 col-6-m">
                <xn-list>
                    <li class="title-item"><h5>{{navigationDefinition[navigationGroup].title}}</h5></li>
                    <li *ngFor="let item of navigationDefinition[navigationGroup].items"><small><a [routerLink]="item.link">{{item.name}}</a></small></li>
                </xn-list>
            </div>
            <div *ngIf="!!navigationDefinition[navigationGroups[(i + 1)]]" class="col col-12 col-6-m">
                <xn-list>
                    <li class="title-item"><h5>{{navigationDefinition[navigationGroups[(i + 1)]].title}}</h5></li>
                    <li *ngFor="let item of navigationDefinition[navigationGroups[(i + 1)]].items"><small><a [routerLink]="item.link">{{item.name}}</a></small></li>
                </xn-list>
            </div>
        </div>
    </ng-container>
</ng-container>
